<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Catálogo de Discos Musicais</title>
    <link rel="stylesheet" href="/albumForm.css" />
  </head>
  <body>
    <style>
      body {
        background-color: black;
        color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
      }

      header {
        display: flex;
        align-items: center;
        justify-content: left;
        gap: 40px;
      }

      a {
        color: white;
      }

      main {
        background-color: #1f1f1f;
        padding: 30px;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      form {
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: flex-start;
        gap: 10px;
      }

      input {
        padding: 10px;
        font-size: 20px;
      }

      label {
        font-size: 20px;
      }

      button {
        background-color: yellow;
        padding: 20px;
        font-size: 20px;
        border-radius: 20px;
        margin-top: 20px;
        border: none;
      }

      button:hover {
        background-color: rgb(118, 118, 11);
      }

      option {
        font-size: 20px;
      }
    </style>

    <header>
      <h1>Catálogo Musical</h1>
      <nav>
        <a href="/albuns">Discos</a>
        <a href="/artistas">Artistas</a>
      </nav>
    </header>

    <main>
      <h2>Novo Disco</h2>
      <form action="/albuns" method="POST" enctype="multipart/form-data">
        <label for="titulo">Título:</label>
        <input type="text" name="titulo" id="titulo" required />

        <label for="anoLancamento">Ano de Lançamento:</label>
        <input type="number" name="anoLancamento" id="anoLancamento" required />

        <label for="capa">Capa:</label>
        <input type="file" name="capa" id="capa" required />

        <label for="artistas">Artistas:</label>
        <select name="artistas[]" id="artistas" multiple>
          <% artists.forEach(artista => { %>
          <option value="<%= artista.id %>"><%= artista.nome %></option>
          <% }) %>
        </select>

        <label for="generos">Gêneros:</label>
        <select name="generos[]" id="generos" multiple>
          <% geners.forEach(genero => { %>
          <option value="<%= genero.id %>"><%= genero.nome %></option>
          <% }) %>
        </select>

        <label for="faixas">Faixas (Título, Duração):</label>
        <textarea name="faixas" id="faixas" required></textarea>

        <button type="submit">Cadastrar</button>
      </form>
    </main>
  </body>
</html>
